RAG Chatbot/Chatbot Nograinok.json
{
  "name": "Chatbot Nograinok",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -240
      ],
      "id": "5a52d2c9-6c7f-442b-abb7-64303a332e32",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "129eOTptfh_uTUncttFCNoHxs8ICr0j7A",
            "mode": "list",
            "cachedResultName": "Nograinok",
            "cachedResultUrl": "https://drive.google.com/drive/folders/129eOTptfh_uTUncttFCNoHxs8ICr0j7A"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -240
      ],
      "id": "52cda9dc-b3a9-48f6-a848-95fe9ca8ed4b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SDM9iKMOw2AVDGcq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -208
      ],
      "id": "841e8a10-0177-48ee-a85c-54c26c4ac33e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SDM9iKMOw2AVDGcq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        -192
      ],
      "id": "0922acd2-f38d-46c4-9208-1aed659cfdbf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nograinok",
          "mode": "list",
          "cachedResultName": "nograinok"
        },
        "options": {
          "pineconeNamespace": "nog"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        -160
      ],
      "id": "aa59620b-ddc2-4173-9141-e138c57e4d8e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LpZegrGV5tH0yOaF",
          "name": "PineconeApi nograinok"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        96
      ],
      "id": "c9c49c11-e4e0-4211-8db3-001a91c3cd66",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3EYIMcqU9mW3Cobr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        48
      ],
      "id": "cf25c554-032f-4fd0-b993-fa2dcf2a0cc7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        144
      ],
      "id": "1a05e2bf-3055-47cf-b931-003420195301",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        368
      ],
      "id": "5f3fac2c-91df-44f1-8a75-9515c2f24581",
      "name": "When chat message received",
      "webhookId": "d77a1ae1-32e1-47ca-b83a-370b611606c3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an eco resort assistant. Your job is to answer question for the client about room description, pricing, facilities. All  of this information can be found in the vector store tool, so call that tool each time you are asked a question to ensure you are proving the client with accurate information. Please be friendly and throw in some jokes and emojis.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -432,
        336
      ],
      "id": "8999f6ad-90eb-4d4d-b65e-aba6529bd75b",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        544
      ],
      "id": "0ddd2fab-e2b6-4377-80f8-b4995613e540",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get Documents from vector DB and answer question about Nograinok.",
        "pineconeIndex": {
          "__rl": true,
          "value": "nograinok",
          "mode": "list",
          "cachedResultName": "nograinok"
        },
        "options": {
          "pineconeNamespace": "nog"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        480
      ],
      "id": "576240e7-e4a0-4198-b2e9-b7cad9a840ab",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LpZegrGV5tH0yOaF",
          "name": "PineconeApi nograinok"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        592
      ],
      "id": "8066576e-2dd9-42a3-9210-6d0f4a4f572f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "3EYIMcqU9mW3Cobr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -576,
        544
      ],
      "id": "97dd4126-604d-4c4e-aadf-cb35afb74fa4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3EYIMcqU9mW3Cobr",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c682b7bd-f28a-4b63-a0da-485acdfb97cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd4f82e6a64b279d1ca8f73c3276d2d2f91250549863c63648b41f41afb969f9"
  },
  "id": "rBIshEC365JYUjEk",
  "tags": []
}